.gallery-grid {
    gap: 16px;
    padding: 16px;
    display: flex;
    flex-flow: wrap;
  height: fit-content;
}

.img {
    max-width: 600px;
    min-height: 600px;
    max-height: 600px;
}

.a {
    height: fit-content;
    width: 300px;
    overflow: clip;
}
