.body {
    margin: 0;
    overflow-y: hidden;
}


.gallery-grid {
    gap: 8px;
    display: flex;
    flex-flow: wrap;
    height: 100vh;
    overflow-y: hidden;
}

.gallery-grid a {
    height: auto;
    width: 80px;
    overflow: clip;
}


.gallery-grid a img {
    min-height: 100%;
}
