---
layout: default
---

<article class="post">
    
<button
    class="back-button"
    onclick="goBack()"
>
    ← Back
</button>
    
    <p class="post-title">
        {{ page.title }}
    </p>

    <p class="post-date">
        {{ page.date | date: "%d.%m.%Y" }}
    </p>

    {% if page.cover_image %}
    <p class="post-image">
        <img
            src="{{ page.cover_image | relative_url }}"
            alt="{{ page.title }}"
        >
    </p>
    {% endif %}

    <div class="post-body">
        {{ content }}
    </div>
    


<script>
function goBack() {

    if (history.length > 1) {

        history.back();

    } else {

        window.location.href =
            '{{ "/" | relative_url }}';

    }

}
</script>
</article>
